/*****************************TAG SELECTORS*****************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

a{
  color: #11999E;
  text-decoration: none;
  margin: 0 20px 20px 20px;
  font-size: 1.2em;
}

a:hover{
  color: #ccf2f4;
}

hr{
  border-style: dotted none none none;
  height: 0;
  border-color: lightgrey;
  border-width: 7px;
  width: 4%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

/***************************CLASS SELECTORS******************************/
.top-container {
  background-color: #ccf2f4;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.code-img{
  width:25%;
  float: right;
  margin-left: 30px;
}

.video-img{
  width:25%;
  float: left;
  margin-right: 30px;
}

.copyright{
  color: #ccf2f4;
  margin-top: 30px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.middle-container{
  margin-top: 100px;
}

.BUTTON_PTI {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: bold;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 14px auto 30px auto;
}

.BUTTON_PTI:hover {
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
